
input
{
    display: inline-block;
    width: 200px;
    margin-top: 5px;
}
td{
    text-align: center;
    color: red;
}
.buttonget {
    display:block;
    width:30px;
    height: 30px;
    text-indent:-9999px;
    border: none;
}
.buttondel {
    display:block;
    width:30px;
    height: 30px;
    text-indent:-9999px;
    border: none;
}
.buttondelall {
    display:block;
    width:30px;
    height: 30px;
    text-indent:-9999px;
    border: none;
}
.buttongetall {
    display:block;
    width: 30px;
    height: 30px;
    text-indent:-9999px;
    border: none;
}
.scroll
{
    width: 500px;
    height: 400px;
    overflow: scroll;
}
.table
{
    margin-top: 8%;
    margin-left: 15%;
}